.actions {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: Roboto, sans-serif;
}

.actions__link {
  text-decoration: none;
  margin: 0 45px;
}

.actions__linkName {
  background: #555;
  border-radius: 4px;
  color: #fff;
  padding: 10px 30px;
}
